* {
  font-family: 'Solitreo', cursive;
  padding: 0;
}

body {
  background-color: #7cca4bba;
}

#contains-logo {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
  content: url(./img/logo.png);
}

#diceWrap{
  width: 210px;
  height: 210px;
}

.dice-img {
  position: absolute;
  background-image: url(/img/Dice/dice1.png);
  background-size: cover;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border: 3px solid transparent;
  background-color: transparent;
}

.dice-img:hover {
  border: 3px solid rgb(13, 165, 15);
  /* animáció */
  animation: diceHover 0.5s ease 0s infinite alternate none;
}

.dice-img:active{
  border: 3px solid rgb(234, 44, 10);
  animation: none;
}

@keyframes diceHover {
  from {width: 200px; height: 200px; background-size: 200px;}
  to {width: 210px; height: 210px; background-size: 210px;}
}

.OFF{
  background-image: url(img/Dice/OFF.png);
  background-size: 200px;
  width: 200px;
  height: 200px;
  top: 10px;
  left: 5px;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.OFF:hover{
  animation: diceHover 0.5s ease 0s infinite alternate none;
}

.OFF:active{
  animation: none;
}

/* .characters-wrap {
  /* margin-bottom: 300px; */
  /* display: none; */
/*}*/

.grid-container {
  width: 1200px;
  position: relative;
  border: 20px ridge rgb(62, 50, 40);
  padding: 30px;
  background: url(img/wooden-background.jpg);
  background-size: cover;
}

.img {
  content: url(/img/Palya.png);
  position: absolute;
  border: 1px solid black;
}

.cell {
  position: relative;
  overflow: hidden;
}
.grid-row {
  display: flex;
}

.player1,
.player2,
.player3,
.player4 {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 60%;
}

.player1 {
  top: 0;
  left: 0;
}

.player2 {
  bottom: 0;
  right: 0;
}

.player3 {
  bottom: 0;
  left: 0;
}

.player4 {
  top: 0;
  right: 0;
}

.feherekGomb,
.feketekGomb {
  width: 300px;
  height: 150px;
  font-size: 50px;
}

.characterImage {
  height: 250px;
  width: 200px;
  float: left;
}

#btn2player,
#btn3player,
#btn4player {
  height: 100px;
  width: 300px;
  font-size: 50px;
}

/* teszt */
.surprise {
  z-index: 1;
  background-color: blue;
  position: relative;
  overflow: hidden;
}

.minigameOFF {
  visibility: hidden !important;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

#janken_wrapper{
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.result, .RPS{
  margin: 0;
  color: yellowgreen;
  font-size: 4em;
  text-align: center;
}

.RPS2{
  margin: 0;
  text-align: center;
  color: crimson;
  font-size: 2em;
}

#norina, #erik, #tic-tac-toe, #janken{
  top: 100px;
  left: 100px;
  width: 1000px;
  height: 800px;
  z-index: 5;
  position: absolute;
  visibility: visible;
  background-color: black;
  border: 5px groove orangered;
}

#tic-tac-toe p{
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
}

#ttt_wrapper{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  font-size: 4em;
  font-weight: bold;
}

#ttt_wrapper p{
  margin: 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  color: white;
}

#ttt_result{
  margin: 0;
  color: yellowgreen;
  font-size: 4em;
  text-align: center;
}

.janken {
  /* animáció */
  animation: miniGamePopUp 1s ease 0s 1 alternate none;
}

.erik{
  /* animáció */
  animation: miniGamePopUp 1s ease-in 0s 1 alternate none;
}

.norina{
  /* animáció */
  animation: miniGamePopUp 1s ease-in 0s 1 alternate none;
}

.tictactoe{
  /* animáció */
  animation: miniGamePopUp 1s ease-in 0s 1 alternate none;
}

@keyframes miniGamePopUp {
  from{width: 0px; height: 0px; opacity: 0;}
  to{width: 1000px; height: 800px; opacity: 1;}
}

.ttt_cell {
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  border: 4px solid black;
  text-align: center;
}
.ttt_grid-row {
  display: flex;
}

.full{
  background-color: gray;
}


#norinaimg, #erikimg{
  width: 100%;
  height: 90%;
}

#ok, #ok2, #ok3, #ok4 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  border-radius: 20%;
  background-color: lightseagreen;
  border: 2px solid transparent;
}

#ok:hover, #ok2:hover, #ok3:hover, #ok4:hover{
  background-color: olivedrab;
  color: red;
  border: 2px solid crimson;
}

#rock-button, #paper-button, #scissors-button{
  height: 50px;
  width: 100px;
  font-size: 30px;
  border-radius: 20%;
  background-color: lightseagreen;
  border: 2px solid transparent;
}

#rock-button:hover, #paper-button:hover, #scissors-button:hover{
  background-color: olivedrab;
  color: red;
  border: 2px solid crimson;
}

.field{
  background-color: rgb(37, 16, 16);
  height: 400px;
  width: 400px;
  border: 3px solid yellow;
}

.field img{
  width: 100%;
  height: 100%;
}

.left{
  float: left;
}

#side{
  padding: 40px;
  margin: 20px;
  
  /* WIP */
  /* background-image: url(); */

  background-color: lightgray;
  
  overflow: hidden;
  border: 10px ridge rgb(230, 13, 38);
}

#current{
  border: 5px groove rgb(12, 179, 194);
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.5em;
}

#CurrentLabel{
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  margin-top: 50px;
}

.playerWarp{
  animation: playerWarp 2s ease 0s 1 alternate none;
}

@keyframes playerWarp {
  from{
    opacity: 1; 
    transform: rotate(0deg);
  }
  to{
    opacity: 0; 
    transform: rotate(360deg);
  }
}

.playerArrive{
  animation: playerArrive 2s ease 0s 1 normal none;
}

@keyframes playerArrive {
  from{
    opacity: 0;
    transform: rotate(360deg);
  }
  to{
    background-image: url();
    opacity: 1; 
    transform: rotate(0deg);
  }
}