*{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.dice-img{
    width: 400px;
    height: 400px;
}

.grid-container{
    width: 1200px;
}

.img{
    content: url(/img/Palya.png);
    position: absolute;
}

.cell {
    position: relative;
    overflow: hidden;
}
.grid-row{
    display: flex;
}

.player1, .player2, .player3, .player4{
    position: absolute;
    z-index: 2;
    width: 60%;
    height: 60%;
}

.player1{
}

.player2{
    bottom: 0;
    right: 0;
}

.player3{
    bottom: 0;
    left: 0;
}

.player4{
    top: 0;
    right: 0;
}

.feherekGomb, .feketekGomb{
    width: 200px;
    height: 100px;
}

.characterImage{
    height: 250px;
    width: 200px;
    float: left;
}

#btn2player,#btn3player,#btn4player{
    height: 100px;
    width: 300px;
}